{% extends theme("layout.html") %}

{% import 'utils.html' as utils %}

{% block content %}
<div class="col-md-4 col-md-offset-4">
  <h4>Set a new password for your account</h4>
  <hr>
  <form class="form-horizontal" method="POST" autocomplete="off">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {{ utils.render_field(form.password) }}
    {{ utils.render_field(form.confirm) }}
    <div class="form-group">
      <button type="submit" class="btn btn-lg btn-success btn-block">Save New Password</button>
    </div>
  </form>
</div>
{% endblock content %}