{% extends theme("layout.html") %}

{% import 'utils.html' as utils %}

{% block content %}
<div class="col-xs-12 col-sm-6 form-container">
  <h2>Forgot Your Password?</h2>
  <p class="lead">We will send you a link to reset your password.</p>
  <form id="resetPasswordForm" class="form form-reset" method="POST" role="form">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      {{ utils.render_field(form.email) }}
      <button class="btn btn-primary" type="submit">
        Send Reset Link
      </button>
      <a class="btn btn-default" href="{{ url_for('public.login') }}">
        Return to Login
      </a>
  </form>
</div>
{% endblock %}
