{% extends theme("layout.html") %}
{% block body_class %}single-product-page{% endblock %}
{% block content %}

<section id="breadcrumb" class="clearfix">

  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/clothing" type="mc">Clothing</a></li>
    <li><a href="/men-clothing" type="g-mc">Men Clothing</a></li>
    <li><a href="/tshirts" type="cat">Tshirts</a></li>
    <li><a href="/u.s.-polo-assn.-tshirts" type="b-cat">U.S. Polo Assn. Tshirts</a></li>
  </ul>

  <h4 class="product-code">
    Product Code: {{ product.code }}
  </h4>
</section>

<section id="summary" class="row">
  <!-- Product image gallery -->
  <div class="col-md-6 col-sm-6 col-xs-12 product-gallery" id="product-media">
    <div class="row">
      <div class="preview-thumbs col-md-2">
        <ul>
          {% for image in product.images %}
          <li><img src="{{ image }}" class="img-responsive"/></li>
          {% endfor %}
        </ul>
      </div>
      <div class="preview-large col-md-10">
        <img src="{{ product.image }}" class="img-responsive"/>
      </div>
    </div>
  </div>

  <!-- Product Details -->
  <div class="col-md-6 col-sm-6 col-xs-12" id="product-details">
    <h1 class="product-name">{{ product.name }}</h1>

    <div data-price="1899" data-discountedprice="759" class="price">
      {% if listing.unit_price < product.list_price %}
      <span class="strike">{{ product.list_price|currencyformat('USD') }}</span>
      <span class="discount">(60% OFF)</span><br>
      {% endif %}
      <span class="final">{{ listing.unit_price|currencyformat('USD') }}</span>
    </div>

    <hr class="divider-dotted">

    <!--
    <div class="product-size">
      <div class="product-size-header">
        <h6 class="desc-header">SELECT SIZE</h6>
        <span class="product-size-chart">
          <span class="product-size-chart-info">Not sure?</span>
          <button class="show-size-chart">See Size Chart</button>
        </span>
      </div>
      <div class="product-size-buttons">
        <button class="product-size-button">
          <p class="size-buttons-unified-size">S</p>
        </button>
        <button class="product-size-button disabled">
          <p class="size-buttons-unified-size">M<span class="product-size-strike"></span></p>
        </button>
        <button class="product-size-button">
          <p class="size-buttons-unified-size">L</p>
        </button>
        <button class="product-size-button disabled">
          <p class="size-buttons-unified-size">XL<span class="product-size-strike"></span></p>
        </button>
      </div>      
    </div>
    -->

    <div class="row" id="product-varying-attrs"></div>

    <div class="cart-wishlist clearfix">
      <div class="wishlist">
        <button class="wishlist-btn">Save to wishlist</button>        
      </div>

      <form class="cart-form" action="{{ url_for('cart.add_to_cart') }}" method="POST" id="add-to-cart" name="add-to-cart">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="hidden" name="product" value="{{ product.id}} "/>
        <input type="hidden" name="quantity" value="1"/>
        <button class="buy-now-btn" type="submit" id="buy-now-btn">Add to Cart</button>
      </form>

      <div class="big-tooltip top">
        <div class="arrow arrow-bottom"></div>
        <div class="big-tooltip-contents">** Log in to save to wishlist</div>
        <span style="display:none;" class="saved"></span>
      </div>
    </div>

    <hr class="divider-dotted">

    <div class="product-description-short">
     {{ (product.description)|safe }}
    </div>

  </div> <!-- End of product details -->
</section>

<section class="product-desc">
  <div class="product-desc-long">
    <h3 class="header">Product Description</h3>
    {{ (product.long_description or product.description)|safe }}
  </div>

  <div class="social-sharing">
    <a target="_blank" href="//www.facebook.com/sharer.php?u={{ request.url }}"
        class="share-facebook">
      <span class="fa fa-facebook-official"></span>
      <span class="share-count is-loaded">1</span>
    </a>

    <a target="_blank" href="//twitter.com/share?text={{ product.name }}&amp;url={{ request.url }}" class="share-twitter">
      <span class="fa fa-twitter"></span>
    </a>

    <a target="_blank" href="//pinterest.com/pin/create/button/?url={{ request.url }}&amp;media={{ product.image }}&amp;description={{ product.description }}" class="share-pinterest">
      <span class="fa fa-pinterest"></span>
    </a>
  </div> <!-- End of social sharing -->  
</section>

{% if product.cross_sells %}
<section class="recommended ">
  <h3 class="header">RECOMMENDED PRODUCTS</h3>
  <div class="rec-products row">
    {% for cross_sell in product.cross_sells|selectattr("listing") %}
      <div class="rec-product col-md-3">
        <a href="{{ cross_sell.listing.get_absolute_url() }}" class="rec-product-wrapper-link">
          <div class="img-wrapper">
            <img src="{{ cross_sell.image }}" class="img-responsive"/>
          </div>
          <div class="content">
            <h4 class="title">{{ cross_sell.name }}</h4>
            <div class="pricing">
              <span class="product-item-selling-price">${{ cross_sell.list_price }}</span>
              <!-- <span class="product-item-discount">(50% OFF)</span>       -->
            </div>
          </div>
        </a>
      </div>    
    {% endfor %}
  </div>
</section>
{% endif %}

{% endblock %}

{% block js %}
  {{ super() }}
  {% if true or product.template.get_product_variation_data %}
    <script type="text/html"  id='product-varying-attrs-tpl'>
      <div class="col-md-12">
        <% _.each(attrs, function(attr, index) { %>
          <% if (attr.widget == 'dropdown') { %>
            <div class="form-group"><h6 class="desc-header">{{ _('SELECT') }} <%= attr.display_name.toUpperCase() %></h6>
              <select class="form-control select-sort attribute" data-attr-id="<%= attr.attribute_id %>">
                <% _.each(attr.options, function(option, index) { %>
                <option value="<%= _.escape(option[0]) %>" <% if (option[0] == currentVariantAttrs[attr.attribute_id]) { %> selected <% } %> ><%= _.escape(option[1]) %></option>
                <% }); %>
              </select>
            </div>
          <% } %>
        <% }); %>
      </div>
    </script>

    <script type="text/html" id='product-inventory-tpl'>
      <span class="text-<%= statusClass %>"><i class="fa fa-<%= iconClass %>"></i>
        <%= message %>
      </span>
    </script>

    <script type="text/html" id="tab-pane-images">
      <%
        _.each(variant.image_urls, function(url_collection, index) {
      %>
        <div class="tab-pane <% if (index == 0) { %> active <% } %>" id="tab<%= index %>">
          <div class="zoom-container">
            <a id="zoom-target" href="<%- url_collection.regular %>" data-lightbox="<%= variant.id %>" >
              <img class="zoom-image" src="<%- url_collection.large %>" alt="<%= variant.rec_name %>" />
            </a>
          </div>
        </div>
      <%
        });
      %>
    </script>

    <script type="text/html" id="tab-list-images">
      <%
        _.each(variant.image_urls, function(url_collection, index) {
      %>
        <li class="<% if (index == 0) { %> active <% } %>">
          <a href="#tab<%= index %>" data-toggle="tab">
            <img src="<%- url_collection.thumbnail %>" alt="<%= variant.rec_name %>" />
          </a>
        </li>
      <%
        });
      %>
    </script>

    <script type="text/javascript">
      $(document).ready(function() {
        var productObj = {{ product.template.get_product_variation_data()|safe }};
        window.productObj = productObj;
        var currentVariantId = {{ product.id }}; // on page load this is the product ID
        /*
           Return the variant information given a product variant ID
        */
        var getVariantInfo = function(variantId) {
          return _.find(productObj['variants'], function(product) {
            return (product.id == variantId) ;
          });
        };
        window.getVariantInfo = getVariantInfo;
        var currentVariant = getVariantInfo(currentVariantId);
        /*
           Find a variant from the list which matches the attributes
           selected. If there is none then return null
        */
        var findVariantMatching = function(attributeSelection) {
          return _.find(productObj['variants'], function(product) {
            return _.isEqual(product.attributes, attributeSelection)
          });
        };
        /*
           called when an attribute changes. Based on the selected attributes,
           it tries to identify the product. If it does, then it returns the
           id of that product
        */
        var onChangeAttribute = function() {
          var attributeSelection = _.reduce(
            $(".attribute"),  // Selector for the attribute fields.
            function(memo, attrEl) {
              // Append the attribute name and value to the map
              memo[attrEl.getAttribute('data-attr-id')] = attrEl.value;
              return memo;
            },
            {} // Initial empty attribute set
          );
          // Find a product which matches the attributes
          product = findVariantMatching(attributeSelection);
          var statusClass, iconClass, message;
          if (product) {
            // Set this product's assets as the current product
            $('.price .final').show();
            $('.product-code').text("Product Code: " + product.code);
            $('.price .final').text(product.price);
            // Set only, no removals
            $('.product-name').text(product.name);
            // Set the correct product in all input field
            $('input[name="product"]').val(product.id);
            // Set the images
            var tab_pane_template = _.template($("#tab-pane-images").html());
            $('#pane-tab').html(tab_pane_template({'variant': product}));
            var tab_list_template = _.template($("#tab-list-images").html());
            $('#list-tab').html(tab_list_template({'variant': product}));
            // Product inventory
            if(product.inventory_status == 'in_stock'){
              statusClass = iconClass ='info';
              // Remove the disabled attribute from the buy now button.
              $('#buy-now-btn').removeAttr('disabled');
              message = 'In stock';
            } else {
              statusClass = 'danger';
              iconClass = 'warning';
              $('#buy-now-btn').attr('disabled', 'disabled');
              message = 'Out of stock';
            }
          } else {
            // Display that the product is not available
            $('#buy-now-btn').attr('disabled', 'disabled');
            $('.price .final').hide();
            $('.product-code').text('');
            // Product inventory
            statusClass = 'danger';
            iconClass = 'warning';
            message = 'Product not available';
          }
          var product_inventory_tpl = _.template(
            $('#product-inventory-tpl').html()
          );
          // Set the inventory attributes of the product
          $('#product-inventory').html(product_inventory_tpl({
            'statusClass': statusClass,
            'iconClass': iconClass,
            'message': message
          }));
        };
        /* Use _ templates to render the attribute options
           Same thing could have been done in jinja but at the
           cost of server time ;)
           */
        var product_varying_attrs_tpl = _.template(
          $("#product-varying-attrs-tpl").html()
        );
        $("#product-varying-attrs").html(product_varying_attrs_tpl({
          'attrs': productObj.variation_attributes,
          'currentVariantAttrs': getVariantInfo({{ product.id }}).attributes
        }));
        $('.attribute').change(onChangeAttribute);
      });
    </script>
  {% endif %}
{% endblock js %}
