{% extends theme("layout.html") %}
{% block body_class %}single-product-page{% endblock %}
{% block content %}

<section id="breadcrumb" class="clearfix">

  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/clothing" type="mc">Clothing</a></li>
    <li><a href="/men-clothing" type="g-mc">Men Clothing</a></li>
    <li><a href="/tshirts" type="cat">Tshirts</a></li>
    <li><a href="/u.s.-polo-assn.-tshirts" type="b-cat">U.S. Polo Assn. Tshirts</a></li>
  </ul>

  <h4 class="product-code">Product Code: {{ product.code }}</h4>
</section>

<section id="summary" class="clearfix">
  <div class="col-md-6 col-sm-6 col-xs-12" id="product-media">
    <img src="{{ product.image }}" class="img-responsive"/>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-12" id="product-details">
    <h1 class="product-name">{{ product.name }}</h1>
    <div data-price="1899" data-discountedprice="759" class="price">
      <span class="strike">{{ product.list_price|currencyformat('USD') }}</span>
      {% if listing.unit_price < product.list_price %}
      <span class="discount">(60% OFF)</span><br>
      <span class="final">{{ listing.unit_price|currencyformat('USD') }}</span>
      {% endif %}
    </div>

    <div class="row" id="product-varying-attrs">
      <div class="col-md-12">

        <div class="color">
          <label class="guide">Select a color</label>
          <div class="size-left"></div>
          <div class="size-cont">
            {% for color in ['blue', 'green'] %}
              <button class="size pdp-size-btn available {{ color }}">{{ button }}</button>
            {% endfor %}
          </div>
        </div>

        <div class="sizes mar-top">
          <label class="guide">Select a size</label>
          <div class="size-left"></div>
          <div class="size-cont">
            {% for button in range(6, 13) %}
              <button class="size pdp-size-btn available">{{ button }}</button>
            {% endfor %}
          </div>
        </div>

        <div class="form-group"> <label>Select Frog:</label> 
          <select class="form-control select-sort attribute" data-attr-id="4073">
            <option value="239" selected="">45 Degree Standard Angle</option>
            <option value="240">50 Degree High Angle</option>
            <option value="241">55 Degree High Angle</option>
          </select>
        </div>
        <div class="form-group"><label>Select Material:</label>
          <select class="form-control select-sort attribute" data-attr-id="4074">
            <option value="258">Iron</option>
            <option value="257" selected="">Bronze</option>
          </select>
        </div>

        <div class="buy"><button class="button big buy-now-btn">Add to cart</button></div>
        <div class="wishlist big-tip-cont">
          <button class="tool-tip link">Save to wishlist</button>
          <div class="big-tooltip top">
            <div class="arrow arrow-bottom"></div>
            <div class="big-tooltip-contents">Log in to save to wishlist</div></div>
            <span style="display:none;" class="saved"></span>
          </div>
      </div>
    </div>

    <div class="product-description">
      {{ (product.long_description or product.description)|safe }}
    </div>

    <div class="social-sharing">

      <a target="_blank" href="//www.facebook.com/sharer.php?u={{ request.url }}" 
          class="share-facebook">
        <span class="fa fa-facebook-official"></span>
        <span class="share-count is-loaded">1</span>
      </a>
    
      <a target="_blank" href="//twitter.com/share?text={{ product.name }}&amp;url={{ request.url }}" class="share-twitter">
		<span class="fa fa-twitter"></span>
      </a>
  
      <a target="_blank" href="//pinterest.com/pin/create/button/?url={{ request.url }}&amp;media={{ product.image }}&amp;description={{ product.description }}" class="share-pinterest">
        <span class="fa fa-pinterest"></span>
      </a>
    
    </div>

  </div>
</section>

{% endblock %}
