{% extends theme("layout.html") %}

{% block content %}
<section class="products" id="products-collections">
  <div class="section-title"><h2>Collections</h2></div>
  <ul class="clearfix">
    {% for collection in collections %}
  
    <li class="col-xs-12 col-sm-6 col-md-3">
      <a href="{{ url_for('node.node', handle=collection.slug, id=collection.id) }}">
        <div class="img-wrapper">
          <img class="img img-responsive" src="{{ collection.image }}"/>  
        </div>
        <div class="content">
          <h4>{{ collection.name }}</h4>
          <h5>{{ collection.item_count }}</h5>
        </div>        
      </a>
    </li>

    {% endfor %}
  </ul>  
</section>


<section class="products" id="products-new-sellers">
  <div class="section-title"><h2>New Sellers</h2></div>
  <ul class="clearfix">
    {% for product in new_arrivals %}
    <li class="col-xs-6 col-sm-3 col-md-2">
      <a href="">
        <div class="img-wrapper">
          <img class="img img-responsive" src="{{ product.image }}"/>        
        </div>
        <div class="content">
          <h4>{{ product.name }}</h4>
          <h5>{{ product.price }}</h5>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
