{% extends theme('layout-my-account.html') %}

{% block account_content %}
  <div class="container-fluid">
    <h1>Address book</h1>
    <br/>
    <!-- Addresses -->
    {% for address in addresses %}
      <div class="row">
        <div class="col-xs-6">
          <address>
            {% for field in address.full_address.split('\n') %}
              {{field}} <br/>
            {% endfor %}
          </address>
        </div>
        <div class="col-xs-6">
          <a type="button" class="btn btn-sm btn-default pull-right" href="{{ url_for('user.edit_address', address_id=address.id) }}"><i class="fa fa-pencil" aria-hidden="true">&nbsp;</i>Edit</a>
        </div>
      </div>
    {% endfor %}

    <div class="row text-center">
      <a class="btn btn-primary" href="{{ url_for('user.create_address') }}">Add a New Address</a>
    </div>
    <br/>
  </div>

{% endblock account_content %}
