{% extends 'emails/layout.html' %}

{% block title %}
<title>Your {{ channel.name }} Account</title>
{% endblock title %}

{% block content %}
<table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope itemtype="http://schema.org/ViewAction">
  <tr>
    <td class="content-wrap">
      <meta itemprop="name" content="Reset Password"/>
      <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <td class="content-block">
            Hello {{ user.name }},
          </td>
        </tr>
        <tr>
          <td class="content-block">
            You requested to get a login link for your {{ channel.name }} account.
          </td>
        </tr>
        <tr>
          <td class="content-block">
            Click on the button below to login:
          </td>
        </tr>
        <tr>
          <td class="content-block">
            <a href="{{ user.get_magic_login_link(_external=True) }}" itemprop="target" class="btn-primary" itemprop="url">Login</a>
          </td>

        </tr>
        <tr>
          <td class="content-block">
            Thanks for shopping with us!
          </td>
        </tr>
        <tr>
          <td class="content-block">
            Sincerely,<br/>
            &mdash; Your friends at {{ channel.name }}.
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
{% endblock content %}
