{% extends 'emails/layout.html' %}

{% block content %}
<table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope itemtype="http://schema.org/ViewAction">
  <tr>
    <td class="content-wrap">
      <meta itemprop="name" content="Reset Password"/>
      <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <td class="content-block">
            Hello {{ user.name }},
          </td>
        </tr>                
        <tr>
          <td class="content-block">
            You requested that your {{ channel.name }} password be reset.
          </td>
        </tr>
        <tr>
          <td class="content-block">
            Click on the button below to create your new password:
          </td>
        </tr>
        <tr>
          <td class="content-block">
            <a href="{{ user.get_reset_password_link(_external=True) }}" itemprop="target" class="btn-primary" itemprop="url">Reset Password</a>
          </td>

        </tr>

        <tr>
          <td class="content-block">
            In the event that you didn't make this request, fear not! Your password is still safe and you can delete this email.
          </td>
        </tr>
        <tr>
          <td class="content-block">
            Thanks for shopping with us!
          </td>
        </tr>
        <tr>
          <td class="content-block">
            Sincerely,<br/>
            &mdash; Your friends at {{ channel.name }}.
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
{% endblock content %}
