{% extends theme("layout.html") %}

{% from 'utils.html' import render_product_listing  %}

{% block content %}

<section id="breadcrumb" class="clearfix">
  {% block breadcrumb %}
    {{ super() }}
    {% if node %}
      {% for url_data, title in make_tree_crumbs(node.id) %}
        {% set url = url_data | get_menuitem_link %}
        {{ render_breadcrumb_item(title, url) }}
      {% endfor %}
    {% endif %}
  {% endblock breadcrumb %}
</section>

<div class="section-title"><h2>{{ node.name }}</h2></div>

{% if node.has_children %}
<section class="products" id="children">
  <ul class="clearfix">
    {% for child in node.children %}
    <li class="col-xs-12 col-sm-6 col-md-3">
      <a href="{{ child.get_absolute_url() }}">
        <div class="img-wrapper">
          <img class="img img-responsive" src="{{ child.image }}"/>
        </div>
        <div class="content">
          <h4>{{ child.name }}</h4>
          <h5>{{ child.item_count }}</h5>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
{% endif %}

{% if listings %}
<section class="products" id="products-new-sellers">
  <div class="section-title"><h2>Products</h2></div>
  <ul class="clearfix">
    {% for listing in listings %}
      {{ render_product_listing(listing) }}
    {% endfor %}
  </ul>
</section>
{% endif %}

{% endblock %}
