<footer>
	<div class="footer-top clearfix">
		<div class="container">
			<div class="left-column clearfix">
        {% set footer_nav=get_nav(current_app.config.get('FULFIL_FOOTER_NAV', 'shop_footer_nav')) %}
        {% set footer_menu = footer_nav and footer_nav.get_tree(depth=3) %}
        {% for menuitem in footer_menu.children %}
          <ul class="link-lists">
            <li class="title">{{ menuitem.title }}</li>
            {% if menuitem.children %}
              {% for item in menuitem.children %}
                <li class="link">
                  <a href="{{ item.link | get_menuitem_link }}" target="{{ item.target }}">
                    {{ item.title }}
                  </a>
                </li>
              {% endfor %}
            {% endif %}
          </ul>
        {% endfor %}
			</div>
			<div class="right-column clearfix">
				<div class="social">
					<ul>
						<li class="social-link">
							<a href="#">
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
						<li class="social-link">
							<a href="#">
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
						<li class="social-link">
							<a href="#">
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
					</ul>
				</div>
			</div>			
		</div>
	</div>

	<div class="footer-bottom">
		<div class="container">
			<small>
				<ul class="company">
					<li>&copy; Fulfil.IO Inc.</li>
				</ul>

				<ul class="footer-nav">
					<li><a href="{{ url_for('public.about') }}">About</a></li>
					<li><a href="mailto:hello@fulfil.io">Contact</a></li>
				</ul>
			</small>
		</div>
	</div>

</footer>
