<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

{% macro render_breadcrumb_item(title, url) %}
  <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <a href="{{ url }}" itemprop="url">
      <span itemprop="title">{{ title }}</span>
    </a>
  </li>
{% endmacro %}

<head>
  <meta charset="utf-8">

  <title>
    {% block page_title %}
    Fulfil Shop
    {% endblock %}
  </title>
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <meta name="author" content="{% block meta_author %}{% endblock %}">

  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width">
  {% include theme('partials/fulfil-meta.html') %}

  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Loved+by+the+King" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='libs/font-awesome4/css/font-awesome.min.css') }}">
  <script src="{{ url_for('static', filename='libs/jquery/dist/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='libs/underscore/underscore-min.js') }}"></script>
  <script src="https://use.fontawesome.com/d9ca091a07.js"></script>
  {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  {% block css %}{% endblock %}

</head>
<body class="{% block body_class %}{% endblock %}">
{% include theme('partials/google-tag-manager.html') %}

{% block body %}
<header id="header" class="header">
  {% block header %}
  <div class="container">
    <div class="row">
      {% block logo %}
        <div class="col-md-3 col-sm-12 logo">
          <div class="main-logo">
            <a href="{{ url_for('public.home') }}">
              <img class="img-responsive" src="{{ company and company.logo or url_for('static', filename='images/fulfil-logo.png') }}">
            </a>
          </div>
        </div>
      {% endblock logo %}

      {% block navigation %}
        {% set root_nav=get_nav(current_app.config.get('FULFIL_ROOT_NAV', 'shop_root_nav')) %}
        {% set menu=root_nav and root_nav.get_tree(depth=3) %}
        <div class="col-md-9 col-sm-12 navigation">
          <div class="row row-1 slogan-search-row">
            <div class="mobile-menu-wrapper">
              <div id="mobile-menu-controller" class="mobile-menu-controller"><i class="fa fa-bars"></i></div>
              <div class="mobile-menu-outer" id="mobile-menu-outer">
                <ul class="mobile-menu" id="mobile-menu" >
                  <span class="close-mobile-menu" id="close-mobile-menu"><i class="fa fa-close"></i></span>
                  {% for child in menu.children %}
                    {#Till level one only#}
                    <li class="menu-item">
                      <a href="{{ child.link | get_menuitem_link }}">{{ child.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>

            <div class="slogan">
              <span>{% block slogan %}"Slogan Here"{% endblock slogan %}</span>
            </div>
            <div class="right-block pull-right">
              <div class="search search-box">
                {% include theme("partials/search-box.html") %}
              </div>
              <div class="mini-cart">
                {% include theme("partials/mini-cart.html") %}
              </div>
              <div class="my-account-menu">
                {% include theme("partials/my-account-menu.html") %}
              </div>
            </div>
          </div>
          <div class="row row-2 menu-row">
            {% with form=form, menu=menu  %}
            {% include theme("partials/nav.html") %}
            {% endwith %}
          </div>
        </div>
      {% endblock navigation %}
    </div>
  </div>
  <div class="container container-breadcrumb hidden-xs">
      <ol class="breadcrumb">
        {% block breadcrumb %}
          {{ render_breadcrumb_item('Home', url_for('public.home')) }}
        {% endblock %}
      </ol>
    </div>
  {% endblock header%}
</header>


<div class="{% block content_class %}container{% endblock content_class %}">

  <div role="main">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="row">
      <div class="col-md-12">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
         {{message}}
        </div><!-- end .alert -->
        {% endfor %}
      </div><!-- end col-md -->
    </div><!-- end row -->
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
  </div>

</div><!-- end container -->

{% include theme("footer.html") %}

<!-- JavaScript at the bottom for fast page loading -->
{% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
  {% if current_app.config.get('GOOGLE_MAPS_API_TOKEN') %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ current_app.config.get('GOOGLE_MAPS_API_TOKEN') }}&libraries=places"></script>
  {% endif %}
    <script type="text/javascript" src="{{ url_for('public.shop_js') }}"></script>
    <script>
      $(function () {
        // Initialize all address form
        Fulfil.address.initForm('.fulfil-address-form');
      });
    </script>
{% block js %}{% endblock %}
<!-- end scripts -->
{% endblock %}

<!-- Mobile menu controller scripts -->
<script>
  $(function() {
    var mobile_menu = $("#mobile-menu");
    var mobile_menu_outer = $("#mobile-menu-outer");

    $("#mobile-menu-controller").on("click", function(){
      // mobile_menu.show('slide', {direction: 'left'}, 200);
      mobile_menu_outer.addClass("open");
    });

    $("#close-mobile-menu").on("click", function(){
      // mobile_menu.hide('slide', {direction: 'left'}, 200);
      mobile_menu_outer.removeClass("open");
    });


  });
</script>
<script src="static/js/script.js"></script>
</body>
</html>
