{% macro render_field(field, label_visible=True) -%}
  <div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
    {% if (field.type != 'HiddenField' and field.type !='CSRFTokenField') and label_visible %}
      <label for="{{ field.id }}" class="control-label">{{ field.label }}</label>
    {% endif %}
    {{ field(class_='form-control', **kwargs) }}
    {% if field.errors %}
      {% for e in field.errors %}
        <p class="help-block">{{ e }}</p>
      {% endfor %}
    {% endif %}
  </div>
{%- endmacro %}

{% macro render_channel_list(listing, node=None, name=None, list_name=None) -%}
  {% if not name %}
    {% if node and node.display == 'product.template' %}
      {% set name = listing.product.template.name %}
    {% else %}
      {% set name = listing.product.name %}
    {% endif %}
  {% endif %}
  <a href="{{ listing.get_absolute_url() }}"
     ga-product-link
     data-ga-product-list="{{ node and node.name or list_name }}"
     data-ga-event-label="Product Thumbnail"
     data-ga-product-id="{{ listing.product.id }}"
     data-ga-product-name="{{ name }}">
    <div class="img-wrapper">
      <img src="{{ listing.product.image }}"
           alt="{{ name }}"
           title="{{ name }}"
           class="img img-responsive img-rounded">
    </div>
    <div class="content">
      <h4>{{ name|safe|truncate(50) }}</h4>
      <h5>{{ listing.product.price }}</h5>
    </div>
  </a>
{% endmacro %}

{% macro render_pagination(pagination, endpoint) %}
<ul class="pagination pull-right">
  {% if pagination.has_prev -%}
  <li>
    <a href="{{ url_for(endpoint, page=pagination.prev_num, **kwargs) }}">
      <i class="fa fa-arrow-left" aria-hidden="true"></i> {% trans %}Previous{% endtrans %}
    </a>
  </li>
  {% else %}
  <li class="disabled">
    <a>
    <i class="fa fa-arrow-left" aria-hidden="true"></i> {% trans %}Previous{% endtrans %}
    </a>
  </li>
  {% endif %}

  {%- for page in pagination.iter_pages(left_edge=0, left_current=5, right_current=5, right_edge=0) %}
    {% if loop.first and page !=1 %}
    <li class="disabled"><a>...</a></li>
    {% endif %}

    {% if page %}
    <li {% if page == pagination.page %}class="active"{% endif %}>
      <a href="{{ url_for(endpoint, page=page, **kwargs) }}">{{ page }}</a>
    </li>
    {% endif %}

    {% if loop.last and page != pagination.pages %}
    <li class="disabled"><a>...</a></li>
    {% endif %}
  {% endfor %}

  {% if pagination.has_next -%}
  <li>
    <a class="" href="{{ url_for(endpoint, page=pagination.next_num, **kwargs) }}">
      {% trans %}Next{% endtrans %} <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </a>
  </li>
  {% else %}
  <li class="disabled">
    <a>
      {% trans %}Next{% endtrans %} <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </a>
  </li>
  {% endif %}
</ul>
{% endmacro %}
