<div class="mini-cart">
      <a class="cart-link" href="/cart">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        <span class="count cartCount">1</span>
        <p class="cartCost"><span class="money" data-currency-usd="$125.00">$125.00</span></p>
      </a>

  <div class="show-shopping-cart hide">

    <h3 class="title">YOU HAVE <span class="text-primary">(1 ITEMS)</span> IN YOUR CART</h3>
    <ul class="list-product">
      <li class="item-18648883463">
        <div class="thumb">
          <img src="//cdn.shopify.com/s/files/1/1230/7578/products/14_small.jpeg?v=1459733587" alt="BODYCON STYLE">
        </div>
        <div class="info">
          <h4 class="product-name"><a href="/products/bodycon-style">BODYCON STYLE</a></h4>
          <span class="price">1x<span class="money" data-currency-usd="$125.00">$125.00</span></span>
          <a class="remove-item" href="/cart/change/18648883463?quantity=0" data-id="18648883463" title="Remove">
            <i class="fa fa-close"></i>
          </a>
        </div>
      </li>
    </ul>
    <div class="sub-total">
      Subtotal:
      <div class="cartCost">
        <span class="money" data-currency-usd="$125.00">$125.00</span>
      </div>
    </div>
    <div class="group-button">
      <a href="/cart" class="button">Shopping Cart</a>
      <a href="/checkout" class="check-out button">Check Out</a>
    </div>

  </div>

</div>
