<i class="fa fa-gear" id="my-account-menu-controller" aria-hidden="true"></i>

<div class="my-account-sub-menu-wrapper">
  <div class="my-account-sub-menu">
    <div class="select-currency">
      <h4 class="currency-title">Select currency</h4>
      <ul class="currencies clearfix">
        <li><a class="USD"><span class="currencie-sym"><i class="fa fa-usd"></i></span></a></li>
        <li><a class="EUR"><span class="currencie-sym"><i class="fa fa-eur"></i></span></a></li>
        <li><a class="GBP"><span class="currencie-sym"><i class="fa fa-gbp"></i></span></a></li>
      </ul>
    </div>

    <div class="setting-option">
      <ul>
        <li><a href="">Wishlist</a></li>
        <li><a href="">My Account</a></li>
        <li><a href="{{ url_for('user.addresses') }}">My Addresses</a></li>
        <li><a href="">CheckOut</a></li>
        <li><a href="">Compare</a></li>
      </ul>
    </div>
  </div>
</div>
