<ul class="main-menu">
  {% for menuitem in menu.children %}
    <li class="menu-item {{ 'has-sub-menu' if menuitem.children else '' }}">
      <a href="{{ menuitem.link | get_menuitem_link }}" target="{{ menuitem.target }}">
        {{ menuitem.title }}
      </a>
      {% if menuitem.children %}
        <ul class="sub-menu">
          {%- for item in menuitem.children recursive %}
          <li class="sub-menu-item">
            <a href="{{ item.link | get_menuitem_link }}" target="{{ item.target }}">
              {{ item.title }}
            </a>
            {% if item.children %}
              <ul class="sub-menu">{{ loop(item.children) }}</ul>
            {% endif %}
          </li>
          {%- endfor %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
</ul>
