/* =============================================================================
   App specific CSS file.
   ========================================================================== */

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 40px;
}

textarea {
  resize: vertical;
}

.form-container{
  max-width: 700px;
  min-height: 450px;
}

/* Forms */

.navbar-form input[type="text"],
.navbar-form input[type="password"] {
  width: 180px;
}


.form-register {
  width: 50%;
}

.form-register .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.navigation > .row-1 {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 5px;
  display: table;
}
.table-layout {
  display: table;
}
.right-block > .search {
  display: table-cell;
}
.right-block > .mini-cart {
  display: table-cell;
}
.right-block > .my-account-menu {
  display: table-cell;
}

/**/
.main-logo {
  max-width: 220px;
  top: 5px;
  position: relative;
}

.navigation {
  float: right;
}

.navigation .slogan {
  float: left;
  display: inline-block;
  font-family: 'Loved by the King', cursive;
  font-size: 25px;
  text-shadow: 0px 0px 0px #000;
}

.navigation .search,
.navigation .mini-cart,
.navigation .cart-link,
.navigation .cartCost,
.navigation .my-account-menu {
  display: inline-block;
}

.navigation .search {
  border: none;
  outline: none;
  color: #444;
}

.navigation .search::placeholder {
  color: #444;
}

.navigation .button-search {
  background: none;
  border: none;
  outline: none;
}

.navigation .search-box {
  border-right: 1px solid #aaa;
  padding: 3px 15px;
  margin-right: 15px;
}

.carousel-image {
  width: auto;
  height: 400px;
  max-height: 400px;
}

.mini-cart .cart-link {
  position: relative;
  color: #222;
  text-decoration: none;
}

.mini-cart .cart-link .fa-shopping-cart {
  font-size: 20px;
  margin-right: 10px;
}

.cartCount {
  position: absolute;
  background: #3693ec;
  color: white;
  width: 17px;
  height: 17px;
  text-align: center;
  border-radius: 50%;
  font-size: 10px;
  font-weight: bold;
  padding-top: 2px;
  top: -10px;
  left: 10px;
}

.mini-cart .cartCost {
  font-family: "MOntserrat", sans-serif;
  margin-right: 15px;
}

.my-account-menu {
  font-size: 20px;
  position: relative;
}

.my-account-sub-menu-wrapper {
  z-index: 80;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: 0;
  transform: translateY(8px);
  -webkit-transition: opacity .4s ease, transform .4s ease, visibility .4s ease;
  transition: opacity .4s ease, transform .4s ease, visibility .4s ease;
}

.my-account-sub-menu {
  list-style: none;
  background: white;
  box-shadow: 0px 0px 3px #888;
  padding: 20px 25px;
  min-width: 270px;
}

#my-account-menu-controller {
  cursor: pointer;
}

.my-account-sub-menu-wrapper.open, .my-account-menu:hover .my-account-sub-menu-wrapper {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

.my-account-sub-menu .select-currency {
  padding-bottom: 5px;
  border-bottom: 1px dotted #ddd;
  margin-bottom: 15px;
}

.my-account-sub-menu .select-currency h4 {
    font-size: 12px;
    text-transform: uppercase;
    font-family: "Montserrat";
    margin-bottom: 5px;
}

.my-account-sub-menu .currencies {
    padding: 0;
}

.my-account-sub-menu .currencies li {
    display: inline-block;
    background: #ddd;
    line-height: 16px;
}

.my-account-sub-menu .currencies li a {
    color: #333;
    font-size: 12px;
    line-height: 16px;
    padding: 0 13px;
}

.my-account-sub-menu .setting-option ul {
  padding-left: 20px;
  font-size: 15px;
  line-height: 1.7;
  color: #555;
}

.my-account-sub-menu .setting-option ul a {
  color: #555;
  font-size: 14px;
}

.my-account  a.dropdown-toggle{
  border-color: #fff;
}
.my-account  a.dropdown-toggle:hover,.my-account  a.dropdown-toggle:active,.btn-group.open .dropdown-toggle{
  border-color: #eee;
  background: #FAFAFA;
  box-shadow: none;
}
.my-account > div.container{
  padding-bottom:25px;
}

.navigation>.row-1 {
  padding-bottom: 15px;
}

.navigation>.row-2 {

}

.main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu li.menu-item {
  display: inline-block;
  font-size: 13px;
  font-family: "Montserrat";
  text-transform: uppercase;
  margin-right: 10px;
  margin-top: 10px;
}

.main-menu > li.menu-item > a {
  display: inline-block;
  color: #222;
  padding: 10px 0 20px;
  padding-right: 20px;
}

.main-menu > li.menu-item > a:hover {
  color: #3693ec;
  text-decoration: none;
}

.main-menu .sub-menu {
  z-index: 80;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  list-style: none;
  background: white;
  box-shadow: 0px 0px 3px #888;
  padding: 10px 25px;
  min-width: 220px;
  transform: translateY(8px);
  -webkit-transition: opacity .4s ease, transform .4s ease, visibility .4s ease;
  transition: opacity .4s ease, transform .4s ease, visibility .4s ease;
}

.main-menu li.has-sub-menu {
  position: relative;
}

.main-menu li.has-sub-menu:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}

.sub-menu > li.sub-menu-item > a {
  display: inline-block;
  width: 100%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: none;
  font-size: 14px;
  color: #666;
  padding: 8px 0;
  border-bottom: 1px dashed #aaa;
}

.sub-menu > li.sub-menu-item:last-child a{
  border-bottom: none;
}

.sub-menu > li.sub-menu-item > a:hover {
  text-decoration: none;
  color: #3693ec;
}

/* Shop Page Styles */
section.products {}

section.products ul{
  padding-left: 0;
  list-style: none;
}

section.products .section-title {
  text-align: center;
  position: relative;
  padding: 20px 0;
  margin: 20px 0 10px;
}

section.products .section-title:after {
  content: "";
  width: 100%;
  display: inline-block;
  position: absolute;
  border-bottom: 2px solid #eee;
  top: 49%;
  left: 0%;
  z-index: 0;
}

section.products h2 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  font-family: "MOntserrat";
  text-transform: uppercase;
  background: white;
  display: inline-block;
  z-index: 5;
  position: relative;
  padding: 0 25px;
}

#products-collections li{
  margin-bottom: 30px;
}

#products-collections li a{
  display: block;
  position: relative;
}

#products-collections li .content{
  position: absolute;
  top: 41%;
  background: rgba(255,255,255,.90);
  text-align: center;
  width: 100%;
}

#products-collections li .content h4 {
  font-family: "Montserrat";
  font-size: 13px;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
  margin-bottom: 0px;
}

#products-collections li .content h5 {
  color: #555;
}

#products-new-sellers li {
  margin: 10px 0 20px;
}

#products-new-sellers li a {
  display: block;
  height: 250px;
}

#products-new-sellers li a:hover {
  text-decoration: none;
}

#products-new-sellers li .img-wrapper {
  height: 180px;
  white-space: nowrap;
  border: 1px solid #f2f2f2;
  text-align: center;
}

#products-new-sellers li .img-wrapper:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#products-new-sellers li .img-wrapper img{
  display: inline-block;
  vertical-align: middle;
  max-height: 180px;
  max-width: 100%;
  margin-left: -4px;
}

#products-new-sellers li .content {
  font-family: "Montserrat";
  text-align: center;
}

#products-new-sellers li .content h4{
  font-size: 14px;
  color: #555;
  margin-bottom: 0;
}

#products-new-sellers li .content h5{
  font-size: 13px;
  color: #888;
}


/* Single Product page styling */
.single-product-page #breadcrumb {
  margin-top: 15px;
}

.single-product-page .breadcrumb {
  float: left;
  background: none;
  font-size: 13px;
  padding: 0;
}

.single-product-page .breadcrumb>li+li:before {
  padding: 0 2px;
  color: #666;
}

.single-product-page .breadcrumb li a {
  color: #666;
}

.single-product-page .product-code {
  float: right;
  margin: 0;
  font-size: 13px;
  font-weight: bold;
  color: #555;
}

.single-product-page #product-media {
  padding: 30px 60px 30px 0;
}

.single-product-page .product-name {
  font-size: 20px;
}

.single-product-page .price {
  font-size: 15px;
  color: #555;
}

.single-product-page span.strike {
  text-decoration: line-through;
}

.single-product-page span.discount {
  color: #EE5F73;
  margin-left: 3px;
}

.single-product-page span.final {
  margin-top: 3px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.single-product-page .color {
  border-top: 1px solid #eee;
  margin-top: 10px;
  padding-top: 15px;
}

.single-product-page .size-cont button {
  width: 30px;
  height: 25px;
  outline: none;
  border: none;
  margin-right: 2px;
  cursor: pointer;
}

.single-product-page .size-cont button.blue {
  background: #3693EC;
}

.single-product-page .mar-top {
  margin-top: 5px;
}

.single-product-page .material-frog {
  border-top: 1px solid #eee;
  margin-top: 20px;
  padding-top: 15px;
}

.single-product-page .material-frog select.form-control {
  max-width: 300px;
  padding: 5px;
  height: 30px;
  font-size: 14px;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #ddd;
}

.single-product-page .product-description {
  border-top: 1px solid #eee;
  margin-top: 10px;
  padding-top: 5px;
}

.single-product-page .product-description h3{
  font-size: 16px;
  font-weight: bold;
}

.single-product-page .social-sharing {
  margin-top: 15px;
}

.single-product-page .social-sharing a {
  position: relative;
  font-size: 20px;
  color: #444;
}

.single-product-page .social-sharing a:hover {
  text-decoration: none;
}

.single-product-page .share-count {
  font-size: 18px;
}

.single-product-page #summary {
  margin-bottom: 100px;
}
/* Footer Styles */
footer {
  background: #111;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer ul li a {
  color: #555;
}

footer ul li a:hover {
  text-decoration: none;
}

footer .footer-top {
  padding: 60px 0;
  border-bottom: 1px solid #222;
}

footer .footer-bottom {
  padding: 15px 0;
}

.footer-top .left-column {
  width: 75%;
  float: left;
}

.footer-top .right-column {
  width: 25%;
  float: right;
}

.footer-top ul.link-lists {
  float: left;
  margin-right: 40px;
  font-weight: bold;
}

.footer-top li.link {
  font-size: 12px;
  margin-bottom: 5px;
}

.footer-top li.title {
  font-family: "Montserrat";
  color: #999;
  margin-bottom: 9px;
  text-transform: uppercase;
  font-size: 12px;
}

.footer-top .social .social-link {
  display: inline-block;
  margin-right: 5px;
}

.footer-bottom .footer-nav {
  float: right;
}

.footer-bottom .company {
  float: left;
}

.footer-bottom .footer-nav li {
  display: inline-block;
  margin-right: 5px;
}

/* Cart styles */

.cart-line-title {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
  display: block;
}

.cart-line-thumbnail {
  vertical-align: top;
}

.cart-button{
  padding: 0;
}

.cart-form{
  display: inline;
}

.cart-title {
  margin-top: 0;
}

.order-confirmation {
  font-size: 2em;
  text-align: center;
}

.invoice-shipment-address{
  padding: 0 20px;
  border: 1px solid #dfdfdf;
}

/* End cart styles */


/* Responsive styles */

/* Large Screen Styles */
@media only screen and (min-width: 992px){
  .mobile-menu {
    display: none;
  }

  .mobile-menu-controller {
    display: none;
  }

  .menu-row {
    display: block;
  }

}

/* Mobile and table combined styles */
@media only screen and (max-width: 991px) {
	.mobile-menu-wrapper {
		float: left;
    margin-right: 20px;
	}

	.mobile-menu-controller {
		display: block;
		font-size: 25px;
	}

  .mobile-menu-outer {
    position: fixed;
    width: 90%;
    height: 100%;
    max-height: 750px;
    left: -100%;
    top: 0%;
    z-index: 99;
    background: rgba(0,0,0,0.93);
    transition: all .3s ease;
  }

  .mobile-menu-outer.open {
    left: 0%;
  }

	.mobile-menu {
/*		display: none;
    position: relative;
    left: 0;
    top: 0;
    width: 90%;
    background: rgba(0,0,0,0.93); */
    z-index: 100;
    padding: 55px 25px 50px;
    list-style: none;
	}

  ul.mobile-menu > li.menu-item {
    font-size: 15px;
    font-family: "Montserrat";
    font-weight: bold;
    text-transform: uppercase;
    margin: 15px 0;
    border-bottom: 1px solid #666;
    padding-bottom: 15px;
  }

  ul.mobile-menu > li.menu-item > a {
    color: #ccc;
  }

  span.close-mobile-menu {
    position: absolute;
    font-size: 22px;
    color: #ddd;
    right: 20px;
    top: 20px;
    border: 1px solid #ddd;
    padding: 2px 9px;
  }

	.menu-row {
		display: none;
	}

  .navigation {
    float: none;
    clear: both;
    position: initial;
  }

  .navigation > .row-1 {
    margin-left: 0px;
  }

  footer .footer-top {
    padding-bottom: 50px;
  }

  .footer-top .left-column {
    width: 100%;
    float: none;
    margin-bottom: 15px;
  }

  .footer-top .right-column {
    width: 100%;
    float: none;
  }
}

/* Tablet styles */
@media only screen and (min-width: 767px) and (max-width: 991px) {
  body {
    padding-top: 10px;
  }

  .main-logo {
    width: 60%;
    margin: 20px auto;
  }

  .mobile-menu-controller {
    position: inherit;
  }
}

/* Mobile phone */
@media only screen and (max-width: 767px) {
    body {
        padding-top: 0px;
    }

    .main-logo {
      width: 60%;
      margin: 20px auto;
    }

    .navigation .slogan {
      display: none;
    }

    .navigation .mini-cart .cartCost {
      display: none;
    }

    .mobile-menu-wrapper {
      margin-right: 10px;
    }

    .navigation .right-block {
      width: 90%;
    }

    .navigation .search-box {
      padding: 3px 5px;
      margin-right: 5px;
      width: 80%;
    }

    .navigation input.search {
      width: 85%;
    }
}

/* Smaller Screen Mobile phone */
@media only screen and (max-width: 359px) {
  .navigation .right-block {
    width: 85%;
  }

  .navigation .search-box {
    width: 70%;
  }

  .navigation input.search{
    width: 80%;
  }
}
